

/* -------------------------- Header --------------------------------- */
/* ----- Animation Photo Presentation ------- */
@keyframes scale-up-tr {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }

/* ---------------------------- Section 2 - Projets ---------------------- */

/* ------- Animation bouton - site animista - shadow-pop ------*/
@keyframes shadow-pop-br {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
      transform: translateX(-8px) translateY(-8px);
    }
  }

  /* ------- Animation quand on appuie sur le bouton - Inversé par rapport à shadow-pop ------ */
  @keyframes shadow-push {
    0% {
        box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
        transform: translateX(-8px) translateY(-8px);
    }
    100% {
      
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      transform: translateX(0) translateY(0);
    }
  }


  /* ---------------------------- Footer - Fleche --------------------------------------- */
  @keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    38% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}